NEXT_PUBLIC_API_URL="http://localhost:3000"

POSTGRES_URL="postgresql://<DB_User>:<DB_Password>@<DB_Host>:<DB_Port>/<DB_Name>"
PRISMA_URL="postgresql://<DB_User>:<DB_Password>@<DB_Host>:<DB_Port>/<DB_Name>"

BETTER_AUTH_SECRET="<Auth_Secret>"
BETTER_AUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID="<Google_Client_ID>"
GOOGLE_CLIENT_SECRET="<Google_Client_Secret>"

GITHUB_CLIENT_ID="<GitHub_Client_ID>"
GITHUB_CLIENT_SECRET="<GitHub_Client_Secret>"

NEXT_PUBLIC_END_DATE="<Date>"
